@mixin defaultDisplay {
  display: flex;
  justify-content: center;
  align-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Walkway Black', arial;
}

body {
  header {
    width: 100%;
    height: 700px;
    background: linear-gradient(45deg, rgba(1, 14, 19, 0.75), rgba(1, 14, 19, 0.75)), url("../image/header/bg.jpg");

    .bg-header {
      width: 100%;
      height: 50px;
      background: linear-gradient(45deg, rgba(1, 14, 19, 0.75), rgba(1, 14, 19, 0.75)), url("../image/header/bg.jpg");
      z-index: 9999;
      position: absolute;
      cursor: pointer;

      &:hover {
        display: none;
      }
    }

    .header-navigation {
      display: flex;
      justify-content: space-around;
      align-content: center;
      width: 100%;
      height: 50px;
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;

      .container-logo {
        @include defaultDisplay;
        width: 20%;
        height: inherit;
        cursor: pointer;

        h1 {
          font-size: 30px;
        }

        span {
          font-size: 35px;
          color: #0199E6;
        }
      }

      .container-menu {
        @include defaultDisplay;
        width: 50%;
        height: inherit;

        .header-menu {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          .menu-link {
            margin: 0 15px;
            font-size: 14px;
            list-style-type: none;
            cursor: pointer;

            &--active {
              margin: 0 15px;
              color: #0199E6;
              font-size: 14px;
              list-style-type: none;
              cursor: pointer;
              border-bottom: 1.5px solid #0199E6;
            }
          }
        }
      }

      &:hover {
        z-index: 99999;
      }
    }

    .header-container {
      width: 100%;
      padding-top: 160px;

      .header-title {
        @include defaultDisplay;
        margin: 0 auto;
        height: 50px;

        h1 {
          font-size: 45px;
          color: #fff;
        }

        span {
          color: #0199E6;
        }
      }

      .header-text {
        @include defaultDisplay;
        width: 50%;
        margin: 50px auto 100px;
        color: #fff;
        font-size: 20px;
        text-align: center;
      }

      .header-inputs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        height: 100px;
        margin: 0 auto;
        background: linear-gradient(45deg, rgba(1, 14, 19, 0.8), rgba(1, 14, 19, 0.8));

        .inp {
          width: 20%;
          height: 50%;
          padding: 0 20px;
          font-size: 14px;
          background-color: #000;
          border: 0.5px solid #008ED6;
          border-left: 4px solid #008ED6;
          color: #fff;
        }

        #btn-started {
          width: 20%;
          height: 50%;
          font-size: 14px;
          background-color: #008ED6;
          cursor: pointer;
          color: #fff;
          border: none;
          border-radius: 3px;
        }
      }
    }
  }


  main {
    width: 100%;

    .bright, .bleft {
      display: flex;
      width: 65%;
      padding: 100px 0;
      margin: 0 auto;

      .browser {
        width: 50%;
        height: 400px;

        img {
          width: 100%;
          height: inherit;
        }
      }

      .browser:last-child {
        margin-left: 50px;
      }

      .features {
        width: 50%;
        height: 425px;
        margin-left: 50px;

        &-title {
          margin-bottom: 70px;

          h2 {
            font-size: 35px;
            font-weight: normal;
          }
        }

        &-text {
          color: #727272;
        }

        &-description {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          margin: 50px 0;

          .title {
            display: flex;
            width: 100%;

            img {
              width: 35px;
              height: 35px;
            }

            h3 {
              margin-left: 20px;
            }
          }

          .text {
            width: 85%;
            margin-left: 12%;

            P {
              font-size: 14px;
              color: #727272;
            }
          }
        }
      }
    }

    .bleft {
      width: 100%;
      background-color: #F7F8FA;

      .block {
        display: flex;
        width: 65%;
        margin: 0 auto;

        .features {
          margin: 0;
        }

        .browser {
          width: 50%;
          height: 400px;

          img {
            width: 100%;
            height: inherit;
          }
        }
      }
    }
  }
}