* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Walkway Black', arial;
}

body header {
  width: 100%;
  height: 700px;
  background: linear-gradient(45deg, rgba(1, 14, 19, 0.75), rgba(1, 14, 19, 0.75)), url("../image/header/bg.jpg");
}
body header .bg-header {
  width: 100%;
  height: 50px;
  background: linear-gradient(45deg, rgba(1, 14, 19, 0.75), rgba(1, 14, 19, 0.75)), url("../image/header/bg.jpg");
  z-index: 9999;
  position: absolute;
  cursor: pointer;
}
body header .bg-header:hover {
  display: none;
}
body header .header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 50px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
body header .header-navigation .container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 20%;
  height: inherit;
  cursor: pointer;
}
body header .header-navigation .container-logo h1 {
  font-size: 30px;
}
body header .header-navigation .container-logo span {
  font-size: 35px;
  color: #0199E6;
}
body header .header-navigation .container-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50%;
  height: inherit;
}
body header .header-navigation .container-menu .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
body header .header-navigation .container-menu .header-menu .menu-link {
  margin: 0 15px;
  font-size: 14px;
  list-style-type: none;
  cursor: pointer;
}
body header .header-navigation .container-menu .header-menu .menu-link--active {
  margin: 0 15px;
  color: #0199E6;
  font-size: 14px;
  list-style-type: none;
  cursor: pointer;
  border-bottom: 1.5px solid #0199E6;
}
body header .header-navigation:hover {
  z-index: 99999;
}
body header .header-container {
  width: 100%;
  padding-top: 160px;
}
body header .header-container .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  height: 50px;
}
body header .header-container .header-title h1 {
  font-size: 45px;
  color: #fff;
}
body header .header-container .header-title span {
  color: #0199E6;
}
body header .header-container .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50%;
  margin: 50px auto 100px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
body header .header-container .header-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 100px;
  margin: 0 auto;
  background: linear-gradient(45deg, rgba(1, 14, 19, 0.8), rgba(1, 14, 19, 0.8));
}
body header .header-container .header-inputs .inp {
  width: 20%;
  height: 50%;
  padding: 0 20px;
  font-size: 14px;
  background-color: #000;
  border: 0.5px solid #008ED6;
  border-left: 4px solid #008ED6;
  color: #fff;
}
body header .header-container .header-inputs #btn-started {
  width: 20%;
  height: 50%;
  font-size: 14px;
  background-color: #008ED6;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 3px;
}
