* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Walkway Black', arial;
}

body header {
  width: 100%;
  height: 700px;
  background: linear-gradient(45deg, rgba(1, 14, 19, 0.75), rgba(1, 14, 19, 0.75)), url("../image/header/bg.jpg");
}
body header .bg-header {
  width: 100%;
  height: 50px;
  background: linear-gradient(45deg, rgba(1, 14, 19, 0.75), rgba(1, 14, 19, 0.75)), url("../image/header/bg.jpg");
  z-index: 9999;
  position: absolute;
  cursor: pointer;
}
body header .bg-header:hover {
  display: none;
}
body header .header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 50px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
body header .header-navigation .container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 20%;
  height: inherit;
  cursor: pointer;
}
body header .header-navigation .container-logo h1 {
  font-size: 30px;
}
body header .header-navigation .container-logo span {
  font-size: 35px;
  color: #0199E6;
}
body header .header-navigation .container-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50%;
  height: inherit;
}
body header .header-navigation .container-menu .burger {
  display: none;
  width: 30px;
}
body header .header-navigation .container-menu .burger-item {
  width: 100%;
  height: 3px;
  background-color: #008ED6;
}
body header .header-navigation .container-menu .burger-item:nth-child(even) {
  margin: 4px 0;
}
body header .header-navigation .container-menu .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
body header .header-navigation .container-menu .header-menu .menu-link {
  margin: 0 15px;
  font-size: 14px;
  list-style-type: none;
  cursor: pointer;
}
body header .header-navigation .container-menu .header-menu .menu-link--active {
  margin: 0 15px;
  color: #0199E6;
  font-size: 14px;
  list-style-type: none;
  cursor: pointer;
  border-bottom: 1.5px solid #0199E6;
}
body header .header-navigation:hover {
  z-index: 99999;
}
body header .header-container {
  width: 100%;
  padding-top: 160px;
}
body header .header-container .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  height: 50px;
}
body header .header-container .header-title h1 {
  font-size: 45px;
  color: #fff;
}
body header .header-container .header-title span {
  color: #0199E6;
}
body header .header-container .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50%;
  margin: 50px auto 100px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
body header .header-container .header-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 100px;
  margin: 0 auto;
  background: linear-gradient(45deg, rgba(1, 14, 19, 0.8), rgba(1, 14, 19, 0.8));
}
body header .header-container .header-inputs .inp {
  width: 20%;
  height: 50%;
  padding: 0 20px;
  font-size: 14px;
  background-color: #000;
  border: 0.5px solid #008ED6;
  border-left: 4px solid #008ED6;
  color: #fff;
  outline: none;
}
body header .header-container .header-inputs #btn-started {
  width: 20%;
  height: 50%;
  font-size: 14px;
  background-color: #008ED6;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 3px;
  outline: none;
}
body main {
  width: 100%;
}
body main .bright, body main .bleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  padding: 100px 0;
  margin: 0 auto;
}
body main .bright .browser, body main .bleft .browser {
  width: 50%;
  height: 400px;
}
body main .bright .browser img, body main .bleft .browser img {
  width: 100%;
  height: inherit;
}
body main .bright .browser:last-child, body main .bleft .browser:last-child {
  margin-left: 50px;
}
body main .bright .features, body main .bleft .features {
  width: 50%;
  height: 425px;
  margin-left: 50px;
}
body main .bright .features-title, body main .bleft .features-title {
  margin-bottom: 70px;
}
body main .bright .features-title h2, body main .bleft .features-title h2 {
  font-size: 35px;
  font-weight: normal;
}
body main .bright .features-text, body main .bleft .features-text {
  color: #727272;
}
body main .bright .features-description, body main .bleft .features-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 50px 0;
}
body main .bright .features-description .title, body main .bleft .features-description .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
body main .bright .features-description .title img, body main .bleft .features-description .title img {
  width: 35px;
  height: 35px;
}
body main .bright .features-description .title h3, body main .bleft .features-description .title h3 {
  margin-left: 20px;
}
body main .bright .features-description .text, body main .bleft .features-description .text {
  width: 85%;
  margin-left: 12%;
}
body main .bright .features-description .text P, body main .bleft .features-description .text P {
  font-size: 14px;
  color: #727272;
}
body main .bleft {
  width: 100%;
  background-color: #F7F8FA;
}
body main .bleft .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin: 0 auto;
}
body main .bleft .block .features {
  margin: 0;
}
body main .bleft .block .browser {
  width: 50%;
  height: 400px;
}
body main .bleft .block .browser img {
  width: 100%;
  height: inherit;
}
body main .feature {
  width: 65%;
  margin: 0 auto;
  padding-bottom: 50px;
}
body main .feature .feature-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
  text-align: center;
}
body main .feature .feature-title h2 {
  font-weight: normal;
  padding: 40px 0;
}
body main .feature .feature-title p {
  color: #727272;
  font-size: 17px;
}
body main .feature .feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
body main .feature .feature-container .feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin: 30px 10px;
}
body main .feature .feature-container .feature-item h3 {
  padding: 30px 0 20px;
}
body main .feature .feature-container .item-desc {
  width: 100%;
  font-size: 14px;
  color: #727272;
}
body main .pricing {
  width: 100%;
  background-color: #F7F8FA;
  padding: 50px 0 65px;
}
body main .pricing .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  margin: 0 auto;
}
body main .pricing .block .pricing-title {
  text-align: center;
  margin: 30px auto 80px;
}
body main .pricing .block .pricing-title h2 {
  font-weight: normal;
  padding: 20px 0;
}
body main .pricing .block .pricing-title p {
  color: #727272;
}
body main .pricing .block .pricing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
body main .pricing .block .pricing-container .container-item {
  width: 30%;
  padding: 15px 0;
}
body main .pricing .block .pricing-container .container-item .item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #323232;
  padding: 10px 0;
}
body main .pricing .block .pricing-container .container-item .item-header h3 {
  font-size: 24px;
  padding: 0 0 10px 0;
  color: #fff;
}
body main .pricing .block .pricing-container .container-item .item-text {
  background-color: #fff;
  border: 1px solid silver;
}
body main .pricing .block .pricing-container .container-item .item-text .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dotted #727272;
  padding: 15px 20px;
  font-size: 14px;
}
body main .pricing .block .pricing-container .container-item .item-text .list:last-child {
  border: none;
}
body main .pricing .block .pricing-container .container-item .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  background-color: #fff;
  border: 1px solid silver;
  border-top: none;
}
body main .pricing .block .pricing-container .container-item .signup #btn-signup {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #858585;
  font-weight: bold;
  color: #858585;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}
body main .video {
  width: 100%;
  padding: 50px 0 0;
}
body main .video-title {
  text-align: center;
}
body main .video-title h2 {
  font-weight: normal;
}
body main .video-title p {
  margin: 20px 0 80px;
}
body main .video-container {
  width: 50%;
  margin: 0 auto;
  height: 450px;
}
body main .video-container img {
  width: 100%;
  height: inherit;
}
body main .video-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 50px;
  margin: 30px auto;
}
body main .product {
  width: 100%;
  background-color: #F7F8FA;
  padding: 50px 0 70px;
}
body main .product .block {
  width: 65%;
  margin: 0 auto;
}
body main .product .block .product-title {
  text-align: center;
}
body main .product .block .product-title h2 {
  font-weight: normal;
}
body main .product .block .product-title p {
  margin: 20px 0 80px;
}
body main .product .block .product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
body main .product .block .product-container .container-image {
  width: 31%;
  height: 200px;
}
body main .product .block .product-container .container-image img {
  width: 100%;
  height: inherit;
}
body main .product .block .product-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 20%;
  margin: 40px auto;
}
body main .trust {
  width: 100%;
  padding: 50px 0 70px;
}
body main .trust-title {
  text-align: center;
}
body main .trust-title h2 {
  font-weight: normal;
}
body main .trust-title p {
  margin: 20px 0 80px;
}
body main .trust-sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  height: 25px;
  margin: 0 auto;
}
body main .trust-sponsors img {
  width: 20%;
  height: inherit;
}
body main .trust-bg {
  width: 65%;
  height: 300px;
  margin: 50px auto;
}
body main .trust-bg img {
  width: 100%;
  height: inherit;
}
body main .registration {
  width: 100%;
  height: 400px;
  position: relative;
}
body main .registration-image {
  width: 100%;
  height: inherit;
}
body main .registration-image img {
  width: 100%;
  height: inherit;
}
body main .registration-container {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(1, 36, 41, 0.75), rgba(1, 18, 24, 0.75));
}
body main .registration-container .container-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
body main .registration-container .container-title p {
  padding: 40px 0;
  font-size: 20px;
}
body main .registration-container .container-title h2 {
  font-size: 30px;
}
body main .registration-container .container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 200px;
  margin: 0 auto;
}
body main .registration-container .container-btn #get-started {
  width: 180px;
  height: 50px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #008ED6;
  font-size: 15px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
body footer {
  padding: 20px 0;
}
body footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
}
body footer .footer-top h3 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}
body footer .footer-top img {
  height: 13px;
  margin: 10px 0;
}
body footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
  background-color: #F7F8FA;
}
body footer .footer-bottom .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 20%;
  margin: 0 auto;
  height: 100px;
}
body footer .footer-bottom .footer-container img {
  width: 50%;
  height: 90%;
}
