@media screen and (max-width: 768px) {
    body {
        width: 768px;
    }

    body header {
        width: 100%;
    }

    body header .header-navigation {
        display: none;
    }

    body header .header-container {
        padding-top: 70px;
    }

    body header .header-container .header-title {
        width: 100%;
        height: auto;
        text-align: center;
    }

    body header .header-container .header-title h1 {
        font-size: 36px;
    }

    body header .header-container .header-text {
        margin-bottom: 50px;
    }

    body header .header-container .header-inputs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }

    body header .header-container .header-inputs .inp {
        width: 90%;
        margin: 15px 0;
        height: 35px;
    }

    body header .header-container .header-inputs #btn-started {
        width: 50%;
        margin: 25px 0;
        height: 35px;
    }

    body main {
        width: 100%;
        margin: 0 auto;
    }

    body main .bright {
        width: 90%;
        padding: 50px 0;
    }

    body main .bright .features {
        margin-left: 20px;
    }

    body main .bright .features-title {
        margin-bottom: 20px;
    }

    body main .bright .features-title h2 {
        font-size: 24px;
    }

    body main .bright .features-description {
        margin: 45px 0;
    }

    body main .bright .features-description .text {
        margin-left: 17%;
    }

    body main .bleft {
        width: 100%;
        padding: 20px 0;
    }

    body main .bleft .browser {
        margin-left: 20px !important;
    }

    body main .bleft .block {
        width: 90%;
        margin: 0 auto;
    }

    body main .bleft .block .features-title {
        margin-bottom: 20px;
    }

    body main .bleft .block .features-title h2 {
        font-size: 24px;
    }

    body main .bleft .block .features-description {
        margin: 45px 0;
    }

    body main .bleft .block .features-description .text {
        margin-left: 17%;
    }

    body main .feature {
        width: 90%;
        padding-bottom: 10px;
    }

    body main .feature-title {
        padding: 20px 0 !important;
    }

    body main .feature-title h2 {
        padding: 25px 0 !important;
    }

    body main .feature-container h3 {
        font-size: 16px;
    }

    body main .pricing {
        padding: 0;
    }

    body main .pricing .block {
        width: 90%;
    }

    body main .pricing .block .pricing-title {
        margin-bottom: 40px;
    }

    body main .video-container {
        width: 90%;
    }

    body main .video-icons {
        width: 90%;
    }

    body main .product {
        padding: 20px 0 30px;
    }

    body main .product .block {
        width: 90%;
    }

    body main .product .block .product-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    body main .product .block .product-container .container-image {
        margin: 20px 0;
        width: 65%;
        height: 300px;
    }

    body main .trust-sponsors {
        width: 70%;
    }

    body main .trust-bg {
        width: 90%;
    }

    body footer .footer-bottom .footer-container {
        width: 45%;
    }
}
